// Place all the styles related to the zoo_slugs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.large {
  font-size: 20px;
  margin: 16px 0px 16px 0px;
  padding: 0px;
  height: 37px;
}

